.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  font-size: 50px;
  border-bottom: 10px solid lightblue;
}

.search-bar {
  text-align: center;
  width: 100%;
}

/* start of map styling */
#map {
  width: 400px;
  height: 400px;
}
/* end of map styling */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.form-input {
  margin-right: 20px;
}

body {
  background-color: lemonchiffon;
}

