@import url("https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #fff;
}

#map {
  height: 450px;
  width: 100%;
}


.display-3 {
  font-family: "Anton", sans-serif;
  word-spacing: 0.5em;
  width: 100%;
  margin: 0 auto;
}

#findTitle {
  margin-bottom: 400px;
  font-weight: 200;
}


#main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jumbotron {
  padding: 1em 0;
  text-align: center;
  height: 200px;
  margin-bottom: 1em;
}

.jumbotron p {
  margin-top: 0;
 
}

#main-content {
  width: 100%;
  margin: 0 auto;
  background-color: #B83928;
}

#locations-list {
  margin-top: 1em;
  width: 100%;
}

.location-data {
  padding: 1.5em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.75em;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  cursor: pointer;
}

.location-data:hover {
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  background-color: #f1f7fa;
}

#searchInput:focus {
  background: #f1f7fa;
}
